.header {
    position: fixed;
    /* z-index: 10; */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 5px 0;
    background-color: #646cff
}

.searchInput {
    font-size: 22px;
    font-weight: 600px;
    width: 420px;
    height: 60px;
    justify-content: center;
    align-content: center;
}

.searchBtn {
    width: 60px;
    height: 60px;
}

.searchIcon {
    width: 30px;
    height: 30px;
}